<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @coverage_rule.user_id %>
</p>

<%= link_to 'Edit', edit_coverage_rule_path(@coverage_rule) %> |
<%= link_to 'Back', coverage_rules_path %>
