<h1>
reset password
</h1>
<form>
<label for="username">
user name:
</label>
<input type="text" name="username" id="username">
</input>
<label for="next">
next
</label>
<button type="submit" formaction="/users/secure_verify" formmethod="post" id="next">
</button>
</form>
