<h1>
Welcome Back!
</h1>
<form action = "/users/verify" method="post">
<label for="username">user name:
</label>
<input type="text" name="username" id="username">
</input>
<label for="password">password:
</label>
<input type="password" name="password" id="password">
</input>
<a href="/users/fyp">Forgot your password?
</a>
<input type="submit">Login
</input>
</form>
<p>
Need an account? <a href="/users/new">Sign up
</a>
</p>
