<h1>
reset your password
</h1>
<form>
<label for="new_password">
enter your new password.
</label>
<input type="password" name="new_password" id="new_password">
</input>
<label for="login">
reset password and log in!
</label>
<button type="submit" formaction="/users/password_update" formmethod="post" id="login">
</button>
</form>
