<h1>
Answer your security question
</h1>
<form>
<label for="answer">
<%= @question %>
</label>
<input type="password" name="answer" id="answer">
</input>
<label for="next">
next
</label>
<button type="submit" formaction="/users/check_answer" formmethod="post" id="next">
</button>
</form>
