/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #e5e5e5;
  text-align:left;
}

.hidden {
  display: none;
}

div#container {
  border: 1px black solid;
  border-radius: 1.5rem;
  background-color: white;
  width: 95%;
  min-width: 450px;
  margin: auto;
/*
I'm using pixels for min-width because I'm specifically considering old
600x800 devices, not aesthetics.
*/
}

div#header {
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: #999999;
  color: #e2e2e2;
  font-size: 115%;
  padding: 0.5em;
  padding-right: 1em;
  min-height: 1em;
}

div#menubar {                        // prevents whitespace between child divs
  display: flex;

  div.link {
    display: inline-block;
    width: 25%;
    overflow: visible;
    text-align: center;
    background-color: #cccccc;

    &:hover {
      background-color: #a9a9a9;
    }

    a {
      color:black;
      font-size: 125%;
      text-decoration: none;
      font-weight:bold;
      line-height: 2em;
      padding: 0.75em;
      height:100%;
      text-align: center;
      vertical-align: middle;
    }
  }
}

div#yield {
  padding:1em;
  overflow: auto;
}

%message {
  text-align: center;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: -1em;
  &:empty {display:none;}
}

.notice {
  @extend %message;
  color: green;
}

.alert {
  @extend %message;
  color: red;
}

img {
  &.icon {
    height: 1.25em;
    width: 1.25em;
    margin-left: 1%;
    filter: brightness(0) invert(1);
    &:hover {transform: scale(1.2);}

    &#welcome {float: right;}
    &#options {float: right;}
  }
}

#username {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 1.5em;
  font-size: 115%;
}

a#logout {
    text-decoration: none;
    color: #dddddd;
    float: right;
    &:hover {
      color: white;
      text-decoration: underline;
    }
}