span#welcome {

  h1 {
    text-align: center;
  }

  div#button_to_roles {
    text-align: center;
  }

  img.icon {
    height: 1.25em;
    width: 1.25em;
  }

  a {
    font-weight: bold;
    text-decoration:none;
  }

  a:hover {
    text-decoration: underline;
  }

}