# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\obita\Documents\schoolPapers\webAPI\rubyOnRailsProjects\FloorCovProj\CS4360\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
