<div class='link'><%= link_to "Roles", roles_path %></div>
<div class='link'><%= link_to "Employees", employees_path %></div>
<div class='link'><%= link_to "Shifts", shifts_path %></div>
<div class='link'><%= link_to "Settings", users_edit_path(@user) %></div>