<div class='link'><%= link_to "Schedules", schedules_path %></div>
<div class='link'><%= link_to "Employees", employees_path %></div>
<div class='link'><%= link_to "Coverage Rules", coverage_rules_path %></div>
<div class='link'><%= link_to "Roles", roles_path %></div>